<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eundms.backend.user.mapper.UserMapper">
    <!--사용자 조회-->
    <select id="findById" resultType="com.eundms.backend.user.model.Users">
        SELECT * FROM USERS WHERE id = #{id}
    </select>
    <!--사용자 생성-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USERS (email, password, username, created_at)
        VALUES (#{email}, #{password}, #{username}, NOW())
    </insert>
    <!--사용자 업데이트-->
    <update id="update">
        UPDATE USERS
        SET username = ${username}, updated_at = NOW()
        WHERE id = #{id}
    </update>
    <!--사용자 삭제-->
    <delete id="delete">
        DELETE FROM USERS WHERE id = #{id}
    </delete>
</mapper>
